/*870px query selector*/
body {
	margin: 0;
	padding: 0;

	--colour-primary: hsla(172, 100%, 33%, 1);
	--color-primary__tint-light: #A6E2D9;
	--color-primary__tint-x-light: #F2FBF9;
	--font-serif-stack: abode-caslon-pro, serif;
	--font-sans-stack: futura-pt, sans-serif;
	--light: 300;
	--book: 400;
	--semibold: 600;
	--heavy: 700;
}

.grid-14-col {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(14, 1fr);
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
	font-family: var(--font-sans-stack);
	font-weight: var(--light);
	font-size: 21px;
}

.btn {
	border: 0px;
	border-style: none;
	border-radius: 999px;
	font-family: var(--font-sans-stack);
	font-weight: var(--light);
	font-size: 20px;
	color: white;
	background-color: #00a8921c;
}

nav {
	padding: 24px 0 0 0;
	background-color: var(--colour-primary);
}

nav .is-first {
	grid-column: 3/5;
	justify-self: start;
}

nav .is-last {
	grid-column: 11/13;
	justify-self: end;
}



#cover {
	width: 100%;
	background-color: var(--colour-primary);
	color: white;
	justify-items: center;
}

#cover > img {
	grid-column: 1/-1;
	margin: 20px auto 0 auto;
}

#cover > span {
	grid-column: 1/-1;
	display: flex;
	justify-self: center;

	text-align: center;
	margin: 49px auto 0px auto;
	font-family: var(--font-sans-stack);
	font-size: 25px;
	font-weight: var(--light);
}

h1 {
	grid-column: 6/10;
	display: flex;
	justify-self: center;

	font-family: var(--font-serif-stack);
	font-weight: 400;
	/*font-weight: var(--semibold);*/
	font-size: 53px;
	font-style: normal;
}




#audio{
	/*margin: 0 auto;*/
	background-color: var(--color-primary__tint-x-light);
	 /*temporary setting*/
	 /*padding-top: 20px;*/
}

#audio-player {
	width: 100%;
	/*height: 259px;*/
	background-color: #00a8921c;
	/*justify-content: center;*/
}

.control-container,
.time-container,
.meta-container,
#progress-container,
progress

 {
	grid-column: 4/12;
	justify-self: center;
	font-family: var(--font-sans-stack);
	color: black;
}

.meta-container {
	padding: 29px 0 11px 0;
	font-size: 30px;
	font-weight: var(--light);
}

progress {
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.time-container{
	padding: 12px 0 21px 0;
	font-size: 16px;
	font-weight: var(--heavy);
}

.control-container {
	margin: 0 0 39px 0;
	padding: 0;
}


	#audio-tracks {
		grid-column: 5/11;
		font-family: var(--font-sans-stack);
		font-size: 29px;	
	}


th {
	font-size: 1px;
}

#audio {
	padding-bottom: 22px;
}

.audio-track__number {
	padding-right: 30px;
	text-align: right;
	width: 20px;
}

.audio-track__name {
	margin-right: 36px;
	padding-right: 20px;
	cursor: pointer;
}

.audio-track__length {
	margin: 0 0 0 auto;
}

.audio-track__number,
.audio-track__name,
.audio-track__length {
	color: #9F9F9F;
}

.audio-track__number.track_is-playing,
.audio-track__name.track_is-playing,
.audio-track__length.track_is-playing {
	color: #000000;
}



th {
	height: 1px;
	color: var(--color-primary__tint-x-light);
}

tr {
	height: 60px;
}

table, tbody, thead, th, td {
	border-collapse: collapse;
	/*border: 1px;
	border-style: solid;
	border-color: black;*/
	border: 0px;
	font-weight: var(--light); 
}

td {
	vertical-align: top;
}


.audio-track__number {
	
}

td.audio-track__length {
	text-align: right;
}


#download {
	margin: 29px auto;
	background-color: white;
}

#download .btn {
	grid-column: 5/11;
	color: black;
	margin: 0 auto;
	padding: 06px 80px;
}

#download .btn img {
	margin: 0 0 0px 10px;
}

/*controls*/

.amplitude-prev {
	float: left;
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin: 20px 21px 0 0;
	background: url('/assets/vectors/player-button-previous.svg');
	background-size: cover;
}

.amplitude-play-pause {
  width: 75px;
  height: 75px;
  cursor: pointer;
  float: left;
}

.amplitude-paused {
  background: url('/assets/vectors/player-button-play.svg');
  background-size: cover;
}

.amplitude-playing {
  background: url('/assets/vectors/player-button-pause.svg');
  background-size: cover;
}

.amplitude-next {
	float: right;
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin: 20px 0 0 21px;
	background: url('/assets/vectors/player-button-next.svg');
	background-size: cover;
}


#player_track-list{
	margin-top: 100px;
}

/**/


/*H5 temporary*/

audio {
	width: 100%;
}

.h5_track-name > td {
	padding: 18px 0 0 0;
}




@media screen and (max-width: 1650px) {
	#audio-tracks {
		/*grid-column: 5/11;*/
		font-size: 25px;	
	}
}

@media screen and (max-width: 1050px) {
	#audio-tracks {
		grid-column: 4/-4;
		font-size: 25px;	
	}

	/*#download {
		display: none;
		
	}*/ 

	.control-container,
	.time-container,
	.meta-container,
	progress
 		{
			grid-column: 4/-4;
	}
}

@media screen and (max-width: 880px) {
	#audio-tracks {
		grid-column: 3/-3;
		font-size: 25px;	
	}


	.control-container,
	.time-container,
	.meta-container,
	progress
 		{
			grid-column: 3/-3;
	}
}



@media screen and (max-width: 750px) {
	
	nav .is-first {
		grid-column: 2/5;
		justify-self: start;
	}

	nav .is-last {
		grid-column: 11/14;
		justify-self: end;
	}


	#cover > img {
		margin: 29px auto 0 auto;
		width: 353px;
	}

	#cover > span {
		margin: 35px auto 0px auto;
		font-size: 21px;
	}

	h1 {
		font-size: 41px;
	}

	.audio-track__number {
		padding-right: 12px;
	}

}
	


@media screen and (max-width: 600px) {
	#audio-tracks {
		grid-column: 2/-2;
		font-size: 22px;	
	}


	.control-container,
	.time-container,
	.meta-container,
	#progress-container,
	progress
 		{
			grid-column: 2/-2;
	}
}





